@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #222831;
  width: calc(100% - 4rem);
  font-family: "Montserrat";
  padding: 1rem 2rem;
}

nav .title {
  font-size: 32px;
  color: #eeeeee;
}

#notes-app {
  padding: 2rem;
  font-family: "Work Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh - 143px);
  color: #222831;
}

#notes-app input {
  outline: unset;
  border: unset;
  border-bottom: 2px #b6b6b6 solid;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  -webkit-transition: 0.6s all ease-out;
  transition: 0.6s all ease-out;
  font-family: "Work Sans";
}

#notes-app input:hover {
  cursor: pointer;
  border-bottom-color: #373737;
}

#notes-app input:focus {
  border-bottom: 2px #ffd369 solid;
}

#notes-app input[type="text"] {
  width: 60%;
  padding: 5px 10px;
}

#notes-app input[type="datetime-local"] {
  padding: 3px 10px;
  width: calc(60% - 1px);
}

#notes-app input.error {
  border-bottom-color: #ff5100;
}

#notes-app button {
  font-size: 20px;
  padding: 8px 10px;
  outline: unset;
  border: unset;
  background-color: #ffd369;
  -webkit-transition: 0.6s all ease-out;
  transition: 0.6s all ease-out;
}

#notes-app button:hover {
  cursor: pointer;
  background-color: #ffb503;
}

#notes-app #create-note-form {
  width: 30%;
}

#notes-app #create-note-form small {
  display: none;
  margin-bottom: calc(2rem - 15px);
  color: #ff5100;
}

#notes-app #create-note-form small.error-displayed {
  display: block;
  margin-top: -2rem;
}

#notes-app #main-content {
  width: 70%;
}

#notes-app #main-content .search-note-form {
  width: 70%;
}

#notes-app #main-content .search-note-form div {
  position: relative;
}

#notes-app #main-content .search-note-form div label {
  position: absolute;
  right: 0;
  top: 25%;
}

#notes-app #main-content .search-note-form div #note-search {
  font-family: "Work Sans";
  width: 100%;
  padding: 10px 10px;
  border-bottom: 2px #b6b6b6 solid;
}

#notes-app #main-content .search-note-form div #note-search:hover, #notes-app #main-content .search-note-form div #note-search:focus {
  cursor: pointer;
  border-bottom-color: #373737;
}

#notes-app #main-content #notes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#notes-app #main-content #notes .note {
  width: 30%;
  min-height: 100px;
  padding: 1.5rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
}

#notes-app #main-content #notes .note:nth-child(2n) {
  margin-right: 0;
}

#notes-app #main-content #notes .note .note-body-element {
  background-color: white;
  height: calc(100% - 2rem);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#notes-app #main-content #notes .note .note-body-element .reminder {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

#notes-app #main-content #notes .note .note-body-element .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#notes-app #main-content #notes .note .note-body-element .tags .tag {
  padding: 0.3rem 1rem;
  background-color: #b6b6b6;
  color: white;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 0.2rem;
}

#notes-app #main-content #notes .note .note-body-element h2 {
  font-size: 24px;
  margin-bottom: 0.5rem;
}

#notes-app #main-content #notes .note .note-body-element .body {
  margin-bottom: 1rem;
}

#notes-app #main-content #notes .note .note-body-element .del-btn {
  margin-top: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */