@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
}

#notes-app {
    padding: 2rem;
    font-family: "Josefin Sans";

    .title {
        font-size: 3rem;
    }

    #notes{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        
        .note{
            width: 30%;
            min-height: 100px;
            padding: 1rem;
            margin-right: 1rem;
            margin-bottom: 3rem;
            &:nth-child(3n){
                margin-right: 0;
            }
            h2{
                font-size: 24px;
            }

        }
    }
}